@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

@theme {
  --color-app-bg: #f9fafb;
  --color-app-card-bg: #ffffff;
  --color-app-loading-bg: rgba(255, 255, 255, 0.6);
  --color-app-text: #1a1a1a;
}

.dark {
  --color-app-bg: #121212;
  --color-app-card-bg: #1f2937;
  --color-app-loading-bg: rgba(18, 18, 18, 0.7); /* 深色加载遮罩 */
  --color-app-text: #f3f4f6;
}
